/* write your override styles here */
#wall .tag-1 {
  display: none;
}

#wall #tag-2{
  display:none;
}

#wall #tag-3{
  display:none;
}

.parent #tag-4{
  display:none;
}

.parent #tag-5{
  display:none;
}

.parent #tag-6{
  display:none;
}

.parent #tag-7{
  display:none;
}

.parent .slick{
  display:none;
}